
@mixin sizes($height, $width) {
  height: $height;
  width: $width;
}

*{
  margin: 0;
  padding: 0;
}


@import "_varTitulos.scss";



/* INDEX */


#img-carrousel {
  @include sizes(500px, 100%);
  object-fit: cover;
  overflow: hidden;
}

.tituloIndex {

  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 4rem;
  margin-bottom: -3.5rem;
}


#carouselExample {
  position: relative;
  bottom: -64px;
}



/* CONTACTO */
  
  
  
  .main-contacto {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "section aside";
    .titulo-contacto {
      font-size: 40px;
      text-align: center;
      margin: 15px;
      margin-top: 40px;
    }
    .telefono {
      font-size: 35px;
      text-align: center;
      margin: 15px;
      margin-top: 40px;
    }
    .mail {
      font-size: 35px;
      text-align: center;
      margin: 15px;
      margin-top: 60px;
    }
    .indicaciones {
      font-size: 20px;
      text-align: center;
      margin: 15px;
      margin-top: 80px;
    }
  }
  .form-title {
    text-align: center;
  }
  
  .form {
    display: flex;
    background-color: rgb(245, 236, 223);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .form-container {
    background-color: #fff;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 460px;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    .form-imput {
      height: 50px;
      width: 300px;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    .btn-form {
      border: none;
      background-color: burlywood;
      justify-self: center;
      width: 350px;
      height: 50px;
    }
  }


 /* NOSOTROS */

 .textoNosotros {
  justify-content: center;
  text-align: center;
 }


  .titulo-nosotros {
    color: $col-tit;
    display: flex;
    justify-content: center;
  }


  .subTitulo-nosotros {
    color: $col-tit;
    display: flex;
    justify-content: center;
  }

  .aside-nosotros {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    .maps:hover {
      transform: scale(1.2, 1.2);
    }
  }




footer {
    .imgFooter {
      @include sizes( 5%, 5%)
    }
}


  /* EXTRAS */







  $color_1: black;
$color_2: blue;
$color_3: brown;
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$background-color_1: brown;
$background-color_2: yellow;
$background-color_3: blueviolet;
$background-color_4: aqua;
$background-color_5: violet;
$background-color_6: red;
$background-color_7: yellowgreen;




* {
	margin: 0;
	padding: 0;
}
#carouselExample {
	height: 500px;
	width: 100%;
	margin-top: 50px;
}
#gridFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
/* 	background-color: $background-color_2; */
	margin-top: 50px;
	margin-bottom: 50px;
	height: auto;
	width: auto;
}
#gridVets {
/* 	background-color: $background-color_3; */
	width: auto;
}
.tituloVet {
	text-align: center;
}
.tituloGato {
  margin-top: 4rem;
	text-align: center;
}
header {
	h1 {
		font-size: 50px;
		font-family: $font-family_1;
		font-weight: 900;
	}
	nav {
		ul {
			list-style: none;
			li {
				a {
					text-decoration: overline;
					color: $color_1;
				}
			}
		}
	}
}
.hero {
	text-align: center;
	width: 100;
	height: 300;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#sectionIndex {
	height: 500px;
	width: 500px;
	background-color: $background-color_4;
}
.Perros1 {
	width: 500px;
	height: 300px;
	background-color: $background-color_5;
	padding: 25px;
	margin-bottom: 25px;
}
.Perros2 {
	width: 500px;
	height: 300px;
	background-color: $background-color_6;
	padding: 25px;
	margin-bottom: 25px;
}
.Perros3 {
	width: 500px;
	height: 300px;
	background-color: $background-color_7;
	padding: 25px;
	margin-bottom: 25px;
}
.subTitulo {
	color: $color_1;
}
section {
	div {
		p {
			color: $color_2;
		}
	}
}
.buttonPerros {
	height: 25px;
	width: 50px;
	color: $color_3;
}
.Gato1 {
	width: 500px;
	height: 300px;
	background-color: $background-color_5;
	padding: 25px;
	margin-bottom: 25px;
}
.Gato2 {
	width: 500px;
	height: 300px;
	background-color: $background-color_6;
	padding: 25px;
	margin-bottom: 25px;
}
.Gato3 {
	width: 500px;
	height: 300px;
	background-color: $background-color_7;
	padding: 25px;
	margin-bottom: 25px;
}
.buttonGato {
	height: 25px;
	width: 50px;
	color: $color_3;
}
footer {
	img {
		width: 50px;
		height: 50px;
	}
}
