* {
  margin: 0;
  padding: 0;
}

/*@import "varContent.scss";*/
/* INDEX */
#img-carrousel {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

#carouselExample {
  position: relative;
  bottom: -64px;
}

/* PERROS */
/* GATOS */
/* CONTACTO */
.main-contacto {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "section aside";
}
.main-contacto .titulo-contacto {
  font-size: 40px;
  text-align: center;
  margin: 15px;
  margin-top: 40px;
}
.main-contacto .telefono {
  font-size: 35px;
  text-align: center;
  margin: 15px;
  margin-top: 40px;
}
.main-contacto .mail {
  font-size: 35px;
  text-align: center;
  margin: 15px;
  margin-top: 60px;
}
.main-contacto .indicaciones {
  font-size: 20px;
  text-align: center;
  margin: 15px;
  margin-top: 80px;
}

.form-title {
  text-align: center;
}

.form {
  display: flex;
  background-color: rgb(245, 236, 223);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.form-container {
  background-color: #fff;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 460px;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.form-container .form-imput {
  height: 50px;
  width: 300px;
}
.form-container label {
  display: block;
  margin-bottom: 10px;
}
.form-container .btn-form {
  border: none;
  background-color: burlywood;
  justify-self: center;
  width: 350px;
  height: 50px;
}

/* NOSOTROS */
.titulo-nosotros {
  color: #050505;
  display: flex;
  justify-content: center;
}

.subTitulo-nosotros {
  color: #050505;
  display: flex;
  justify-content: center;
}

.aside-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.aside-nosotros .maps:hover {
  transform: scale(1.2, 1.2);
}

/* FOOTER */
footer .imgFooter {
  height: 5%;
  width: 5%;
}

/* EXTRAS */
/*-----------FOOTER----------*/
* {
  margin: 0;
  padding: 0;
}

#carouselExample {
  height: 500px;
  width: 100%;
  margin-top: 50px;
}

#gridFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  /* 	background-color: $background-color_2; */
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  width: auto;
}

#gridVets {
  /* 	background-color: $background-color_3; */
  width: auto;
}

.tituloVet {
  text-align: center;
}

.tituloGato {
  text-align: center;
}

header h1 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}
header nav ul {
  list-style: none;
}
header nav ul li a {
  text-decoration: overline;
  color: black;
}

.hero {
  text-align: center;
  width: 100;
  height: 300;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#sectionIndex {
  height: 500px;
  width: 500px;
  background-color: aqua;
}

.Perros1 {
  width: 500px;
  height: 300px;
  background-color: violet;
  padding: 25px;
  margin-bottom: 25px;
}

.Perros2 {
  width: 500px;
  height: 300px;
  background-color: red;
  padding: 25px;
  margin-bottom: 25px;
}

.Perros3 {
  width: 500px;
  height: 300px;
  background-color: yellowgreen;
  padding: 25px;
  margin-bottom: 25px;
}

.subTitulo {
  color: black;
}

section div p {
  color: blue;
}

.buttonPerros {
  height: 25px;
  width: 50px;
  color: brown;
}

.Gato1 {
  width: 500px;
  height: 300px;
  background-color: violet;
  padding: 25px;
  margin-bottom: 25px;
}

.Gato2 {
  width: 500px;
  height: 300px;
  background-color: red;
  padding: 25px;
  margin-bottom: 25px;
}

.Gato3 {
  width: 500px;
  height: 300px;
  background-color: yellowgreen;
  padding: 25px;
  margin-bottom: 25px;
}

.buttonGato {
  height: 25px;
  width: 50px;
  color: brown;
}

footer img {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=SASS.css.map */